#mainImage {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/home-main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 800px;
    z-index: -1;
}

@media (max-width: 992px) {
    #mainImage {
        height: 600px;
    }
}

#mainHeading {
    font-size: 65px;
    font-weight: normal;
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    #mainHeading {
        font-size: 45px;
    }
}

@import url(carousel.css);