{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Image -->
    <section id="mainImage" class="container p-0">
        <div class="d-flex flex-column justify-content-center align-items-center text-center text-white h-100">
            <h1 id="mainHeading" class="text-uppercase">New Products, <br>Great Deals</h1>
            <a href="{% url 'shop' %}" class="link-light text-decoration-none">Shop Now</a>
        </div>
    </section>

    <!-- Product carousel -->
    <section class="container py-5">
        <h1 class="text-center pb-3">What's Trending</h1>

        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">

            <div id="productCarouselInner" class="carousel-inner">

                <!-- This carousel's contents are filled dynamically with the help of the JS script at the end of the document -->

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>


    <!-- About HealthFood -->
    <section class="p-5 bg-dark text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md py-5 px-3">
                    <h2>About HealthFood</h2>
                    <p class="lead mt-5">
                        ​We founded HealthFood with one goal in mind: giving our customers a fair, rewarding and
                        enjoyable shopping experience. We conduct business according to the same values, knowing
                        that
                        better service equals loyal customers.
                    </p>
                    <a href="{% url 'about' %}" class="btn btn-light mt-3">
                        <i class="bi bi-chevron-right"></i>Read More
                    </a>
                </div>
                <div class="col-md">
                    <img class="img-fluid" src="{% static 'img/home-about.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <!-- Dynamically change the number of products per carousel page based on the window width -->
    <script>
        const BREAKPOINT_MEDIUM = 768;

        const PRODUCTS = getProducts();
        const PRODUCT_GROUPS_4 = getProductGroups(PRODUCTS, 4);
        const PRODUCT_GROUPS_2 = getProductGroups(PRODUCTS, 2);

        $(window).on('load', function() {
            if (isWindowWide()) {
                fillProductCarousel(PRODUCT_GROUPS_4);
            } else {
                fillProductCarousel(PRODUCT_GROUPS_2);
            }
        });

        let wasWindowWide = isWindowWide();

        $(window).on('resize', function() {
            let windowWide = isWindowWide();

            if (windowWide && !wasWindowWide) {
                fillProductCarousel(PRODUCT_GROUPS_4);
            } else if (!windowWide && wasWindowWide) {
                fillProductCarousel(PRODUCT_GROUPS_2);
            }

            wasWindowWide = windowWide;
        });

        function fillProductCarousel(productGroups) {
            const bootstrapMaxColumns = 12;

            $('#productCarouselInner').empty();

            productGroups.forEach(function(group, i) {
                $('#productCarouselInner').append(
                    $('<div>')
                        .attr('class', `carousel-item ${i === 0 ? 'active' : ''}`)
                        .append($('<div>')
                            .attr('id', `productGroup${i}`)
                            .attr('class', 'row text-center')
                        )
                );

                const productDivColumns = Math.floor(bootstrapMaxColumns / group.length);
                for (product of group) {
                    let productDiv = $('<div>')
                        .attr('class', `col-${productDivColumns}`);
                    productDiv.append(
                        $('<a>')
                            .attr('href', `/products/${product.slug}`)
                            .append(
                                $('<img>')
                                    .attr('src', `/media/${product.image}`)
                                    .attr('class', 'd-block w-100')
                            )
                    );
                    productDiv.append(
                        $('<div>')
                            .attr('class', 'fw-bold')
                            .append(product.name)
                    );
                    productDiv.append(
                        $('<div>')
                            .append(product.price)
                    );
                        
                    $(`#productGroup${i}`).append(productDiv);
                }
            });
        }

        function getProducts() {
            let products = '{{products|escapejs}}';
            products = JSON.parse(products);

            for (let i = 0; i < products.length; i++) {
                products[i] = products[i].fields;
            }

            return products;
        }

        function getProductGroups(products, groupSize) {
            product_groups = []

            for (let i = 0; i < products.length; i++) {
                if (i % groupSize === 0) {
                    product_groups.push(new Array());
                }
                const groupI = Math.floor(i / groupSize);
                product_groups[groupI].push(products[i]);
            }

            return product_groups;
        }

        function isWindowWide() {
            return window.matchMedia(`(min-width: ${BREAKPOINT_MEDIUM}px)`).matches;
        }
    </script>
{% endblock %}