{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Image -->
    <section id="mainImage" class="container p-0">
        <div class="d-flex flex-column justify-content-center align-items-center text-center text-white h-100">
            <h1 id="mainHeading" class="text-uppercase">New Products, <br>Great Deals</h1>
            <a href="{% url 'shop' %}" class="link-light text-decoration-none">Shop Now</a>
        </div>
    </section>

    <!-- Product carousel -->
    <section class="container py-5">
        <h1 class="text-center pb-3">What's Trending</h1>

        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">

            
                {% for product_group in trending_product_groups %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <div class="row text-center">

                            {% for product in product_group %}
                                <div class="col-3">
                                    <a href="{% url 'product' slug=product.slug %}">
                                        <img src="{{product.image.url}}" class="d-block w-100" alt="">
                                    </a>
                                    <div class="fw-bold">{{product.name}}</div>
                                    <div>${{product.price}}</div></div>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>


    <!-- About HealthFood -->
    <section class="p-5 bg-dark text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md py-5 px-3">
                    <h2>About HealthFood</h2>
                    <p class="lead mt-5">
                        ​We founded HealthFood with one goal in mind: giving our customers a fair, rewarding and
                        enjoyable shopping experience. We conduct business according to the same values, knowing
                        that
                        better service equals loyal customers.
                    </p>
                    <a href="{% url 'about' %}" class="btn btn-light mt-3">
                        <i class="bi bi-chevron-right"></i>Read More
                    </a>
                </div>
                <div class="col-md">
                    <img class="img-fluid" src="{% static 'img/home-about.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>


    <script>
        const BREAKPOINT_MEDIUM = 768;
        const BREAKPOINT_LARGE = 992;

        const products = '{{data|escapejs}}';
        console.log(products);

        if (window.matchMedia(`(max-width: ${BREAKPOINT_MEDIUM}px)`).matches) {
           console.log(`< ${BREAKPOINT_MEDIUM}px`);
        } else {
           console.log(`> ${BREAKPOINT_MEDIUM}px`);
        }
    </script>
{% endblock %}
