{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    {% if user.is_authenticated %}
        <script>
            const CUSTOMER_ID = '{{user.id|escapejs}}'
        </script>
    {% endif %}
{% endblock %}

{% block content %}

    <!-- Product -->
    <section class="my-5">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Product Image -->
                <div class="col-lg my-3 px-3">
                    <img src="{{product.image.url}}" class="d-block w-100" alt="">
                </div>

                <!-- Product Brief Info -->
                <div class="col-lg pt-5 pb-4 d-flex flex-column justify-content-between">
                    <h1 class="text-center text-lg-start mb-4 mb-lg-0">{{product.name}}<br><span
                            class="h4">${{product.price}}</span>
                    </h1>

                    <p>{{ product_short_description }}</p>

                    <div class="d-flex mt-3 justify-content-lg-end justify-content-center">
                        {% if user.is_authenticated %}
                            <button class="addToCartBtn btn btn-success mt-3 mb-2 px-4" data-productid="{{product.id}}" data-action="add">
                                ADD TO CART
                            </button>
                        {% else %}
                            <button class="btn btn-success mt-3 mb-2 px-4" data-bs-toggle="modal" data-bs-target="#addToCartMessage">
                                ADD TO CART
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- Product Elaborate Description -->
                <div class="mt-5 px-md-5">
                    <h2 class="mb-4">Product Description</h2>

                    {% for paragraph in product_description_paras %}
                    <p>{{ paragraph }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    {% if not user.is_authenticated %}
        {% include 'secondary/add_to_cart_modal.html' %}
    {% endif %}

{% endblock %}
