{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Product -->
    <section class="my-5">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Product Image -->
                <div class="col-lg my-3 px-3">
                    <img src="{{product.image.url}}" class="d-block w-100" alt="">
                </div>

                <!-- Product Brief Info -->
                <div class="col-lg pt-5 pb-4 d-flex flex-column justify-content-between">
                    <h1 class="text-center text-lg-start mb-4 mb-lg-0">{{product.name}}<br><span
                            class="h4">${{product.price}}</span>
                    </h1>

                    <p>{{ product_short_description }}</p>

                    <div class="d-flex justify-content-end">
                        <span class="text-secondary col-2 d-flex align-items-center"
                            style="font-size: 90%">${{product.price}}</span>
                        </span>

                        <input class="col-2 me-3" type="text" id="productQuantity" class="">
                        </span>
                        <button class="col-3 btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#addToCartMessage">Add to cart</button>
                    </div>
                </div>

                <!-- Product Elaborate Description -->
                <div class="mt-5 px-md-5">
                    <h2 class="mb-4">Product Description</h2>

                    {% for paragraph in product_description_paras %}
                    <p>{{ paragraph }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>



    <!-- Add To Cart Modal Message -->
    <div class="modal fade" id="addToCartMessage" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enroll">Add To Cart</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="lead">Sorry, you need to be signed in to do this.</p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'signin' %}" class="navCollapsable btn btn-outline-success">Sign in</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
